body {
  background: linear-gradient(90deg, #c58b79, #ae1b53);
}
.container {
  margin: 0 auto;

  max-width: 100vw;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16 px;
  padding-bottom: 24 px;
  display: contents;
}
ul,
li {
  list-style: none;
  padding: 0;
}
